<script>
    import Bulma from './Bulma.svelte'
    import Spinner from './Spinner.svelte'
    import Ribbon from './Ribbon.svelte'
    import Switch from "svelte-switch";
    import { blur } from "svelte/transition"
    import { onMount } from 'svelte';
    let url= "gadgetbridge_matrix.json"
    let res
    let status=1
    let data = []
    let data_filtered=[]
    let data_by_features=[]
    let view="device_matrix"
    let search_device=""
    let search_feature=""
    let is_active = false
    let show_switches = false

    async function get_data(){
        try{
            res = await fetch(url, { method: 'GET', credentials:"include"})
        }catch (e)
        { 
            console.log("error:", e)
            return

        }
        let data = await res.json()
        status = 0
        return data
    }

    function afilterByValue(array, string) {
        return array.filter(o =>
            Object.keys(o).some(k => {
                console.log("O: ", o, " K: ", k)
                o[k].toLowerCase().includes(string.toLowerCase())
            }));
    }
    function filterByValue(array, string) {
        return array.filter(o =>
            o.features.some(k => k.name.toLowerCase().includes(string.toLowerCase()))
        );
    }

    function filterOutType(array, string) {
        const prefs = (k) => k.type.toLowerCase().includes(string.toLowerCase())
        return array.reduce(function (x,y){
            o.features.filter(k => k.type.toLowerCase().includes(string.toLowerCase())
            ) }
        );
    }

    function filterData(){
        if (search_device.length > 0){
            data_filtered = data.filter(item => item.name.toLowerCase().includes(search_device.toLowerCase()))
        } else {
            data_filtered=data
        }
        if (show_switches){
            data_filtered.map(function(item){
                item.features=[]
                item.features.push(...item.supportedFeatures)
                item.features.push(...item.configurableData)
                return item
            })
        }else{
            data_filtered.map(function(item){
                item.features=[]
                item.features.push(...item.supportedFeatures)
                return item
            })
        }
    }

    onMount(async () => {
        data = await get_data()
        console.log(data)
        filterData()
    });


    $:{
        //console.log("Recalcing: ", data_filtered, data_by_features)
        data_by_features=[]
        data_filtered.forEach(function(gadget){
            let features = gadget.features
            let device = gadget.device

            features.forEach(function(feature){
                //if (!Object.keys(data_by_features).includes(feature)){
                let index = data_by_features.findIndex(data => data.name==feature.name)
                //console.log("index ", index)
                if (index ==-1){
                    let feature_new = {...feature}
                    feature_new.devices=[]
                    feature_new.devices.push(device)
                    data_by_features.push(feature_new)
                }else{
                    //console.log("found, just update, ",  data_by_features)
                    data_by_features[index].devices.push(device)
                }

            })
        });
        //console.log("done: ", data_by_features)
        //console.log("dd by f: ", data_by_features)

    } 


</script>
<style>
    .input{
        width:100%;
    }
    #btn{
        width:49.9%;}



@media (max-width: 479px) {
    .input{
        width:100%;
    }
    #btn{
        width:49.9%;}

}

    div.vertical
        {
        width: 290px;
        height:22px;
        position: absolute;
        border:0px solid;
    }

    th.vertical
        {
        margin-left: -85px;
        transform: rotate(-80deg);
    }
    .top{
        border-top-width: 0px !important;
    }
    td{
        width:100px;
    }
    th{

        font-weight: normal;
        height: 00px;
    }
    .spacer {
        height: 200px;
    }
    .table_container{
        overflow: auto;
        max-width: 95.5vw;

    }
    disabledthead th { 
        position: sticky; 
        top: 200px; 
    }
    tr:hover { background: lightyellow; }

    .background_image{
        /*background-image: url(../images/featureGraphic.jpg);*/
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
    }


    .navbar .navbar-menu {
        margin-right: -5rem;
    }

    table, tr, th, td{
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
    .is-vertically-centered{
        vertical-align: middle;
    }

    .filter_black{
        filter: brightness(0) saturate(100%) invert(48%) saturate(2476%) hue-rotate(160deg) brightness(118%) contrast(119%);
    }
</style>
<svelte:head>

    <title>Gadgetbridge Device Matrix</title>

    <link rel='icon' type='image/png' href='./images/favicon.png'>

</svelte:head>
<Ribbon />
<Spinner {status}/>
<section class="hero is-info is-fullheight background_image" style="background-image: url(images/featureGraphic.jpg);">
    <div class="hero-head">
        
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <div class="navbar-item">

                        <p class="control has-icons-left">
                        <input bind:value={search_device} on:keyup="{filterData}" class="input is-expanded" placeholder="filter device name" id="input" />
                        {#if search_device.length > 0}
                            <button transition:blur  style="pointer-events: all; cursor:pointer" class="button icon is-warning is-left" on:click={()=>{search_device = "";filterData()}}>X</button>
                        {/if}
                        </p>


                    </div>
                    <span class="navbar-burger burger" class:is-active={is_active} on:click="{()=>is_active=!is_active}" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div class="navbar-menu" class:is-active={is_active} >
                    <div class="navbar-start">

                        <a class="navbar-item" on:click="{()=>is_active=false}" on:click|preventDefault={()=>{view="device"}} id="btn" >Devices</a>     
                        <a class="navbar-item" on:click="{()=>is_active=false}" on:click|preventDefault={()=>{view="device_matrix"}} id="btn" >Device Matrix</a>
                        <a class="navbar-item" on:click="{()=>is_active=false}" on:click|preventDefault={()=>{view="feature"}} id="btn" >Features</a>
                        <a class="navbar-item" on:click="{()=>is_active=false}" on:click={()=>{view="feature_matrix"}} id="btn" >Feature Matrix</a>
                    </div>

                </div>
            </div>
        </nav>

    </div>

    <div class="hero-body">

        <div class="is-centered">

            {#if view == "device"}
                {#each data_filtered as {name, device, features}}

                    <img src="images/icons/{device.device_icon}.svg" class="image is-32x32 is-inline-block" alt="device icon"/> 
                    <div class="title is-inline-block is-vertically-centered">
                        {name}
                    </div><br/>
                    {#if features.length>0}
                        {#each features as {name, description, icon}}
                            <div class="tag has-background-primary" data-tooltip="{description ? description : name}">{name}&nbsp;
                                <img src="images/icons/{icon}.svg" class="image is-24x24 is-inline-block filter_black" alt="feature icon"/>
                            </div>
                        {/each}<br/><br/>
                    {/if}
                {/each}
            {:else if view=="feature"}
                {#each data_by_features as {name, devices, description, icon}}

                    <img src="images/icons/{icon}.svg" class="image is-24x24 filter_black is-inline-block" alt="feature icon"/>  
                    <div class="title is-inline-block" data-tooltip="{description ? description : name}">
                        {name} 
                    </div><br/>
                    {#each devices as {name, device_icon}}
                        <div class="tag has-background-primary">{name}

                            <img src="images/icons/{device_icon}.svg" class="image is-32x32" alt="device icon"/> 
                        </div>
                    {/each}<br/><br/>
                {/each}
            {:else if view=="feature_matrix"}
                <div class="table_container">
                    <div class="spacer"></div>
                    <table class="table is-hoverable is-striped is-narrow is-bordered">
                        <thead class="thead">
                            <tr class="tr">
                                <th class="th top">{data_by_features.length} features, {data_filtered.length} devices</th>
                                {#each data_by_features as {name}}
                                    <th class="th vertical top">
                                        <div class="vertical">
                                            {name.substring(0,35)}{name.length>35 ? "…":""}
                                        </div>
                                    </th>
                                {/each}
                            </tr>
                            <tr class="tr">
                                <td class="td"></td>
                                {#each data_by_features as {icon, description}}
                                    <td class="td" data-tooltip="{description ? description : name}">
                                        <img src="images/icons/{icon}.svg" class="image is-vertically-centered filter_black"/>  
                                    </td>
                                {/each}
                            </tr>
                        </thead>
                        {#each data_filtered as data_items }
                            <tr class="tr">
                                <td class="td"><div style="width: 220px">
                                        <img src="images/icons/{data_items.device.device_icon}.svg" class="image is-32x32 is-inline-block is-vertically-centered" alt="device icon"/>  

                                        <div class="is-vertically-centered is-inline-block">
                                            {data_items.name}
                                        </div>
                                    </div>
                                </td>
                                {#each data_by_features as feature}
                                    <td class="td is-vertically-centered">{feature.devices.includes(data_items.device)? "✅" : ""}</td>
                                {/each}
                            </tr>
                        {/each}


                    </table>
                </div>
            {:else if view=="device_matrix"}
                <div class="table_container">
                    <div class="spacer"></div>
                    <table class="table is-hoverable is-striped is-narrow is-bordered">
                        <thead class="thead">
                            <tr class="tr top">
                                <th class="th top">{data_by_features.length} features, {data_filtered.length} devices</th>
                                {#each data_filtered as device }
                                    <th class="th vertical top">
                                        <div class="vertical">
                                            {device.name.substring(0,35)}{device.name.length>35 ? "…":""}
                                        </div>
                                    </th>
                                {/each}
                            </tr>
                            <tr class="tr">
                                <td class="td"></td>
                                {#each data_filtered as device }
                                    <td class="td">
                                        <img src="images/icons/{device.device.device_icon}.svg" class="image is-vertically-centered" alt="device icon"/>  
                                    </td>
                                {/each}
                            </tr>
                        </thead>
                        {#each data_by_features as {name, devices, description, icon}}
                            <tr class="tr">
                                <td class="td">




                                    <div style="width: 300px" data-tooltip="{description ? description : name}">

                                        <img src="images/icons/{icon}.svg" class="image is-24x24 is-inline-block filter_black is-vertically-centered" alt="feature icon"/>
                                        <div class="is-vertically-centered is-inline-block">
                                            {name.substring(0,32)}{name.length>32 ? "…":""}
                                        </div>
                                    </div>
                                </td>
                                {#each data_filtered as device}
                                    <td>{devices.includes(device.device)? "✅" : ""}</td> 
                                {/each}
                            </tr>
                        {/each}
                    </table>
                </div>
            {/if}

        </div>
    </div>


            <p>
            <label class="ml-5 is-pulled-left level-item" ><Switch bind:checked={show_switches} on:change="{filterData}" />&nbsp;Show All Settings Preferences Items</label> 
                <p/>
    <div class="content has-text-centered">
        <p>
        <strong>Gadgetbridge Device Matrix</strong>  (<a href="https://codeberg.org/vanous/device-matrix-gadgetbridge">source</a>)
        </p>
        <p>
        <strong>Gadgetbridge</strong> (<a href="https://codeberg.org/Freeyourgadget/Gadgetbridge">https://codeberg.org/Freeyourgadget/Gadgetbridge</a>), A free and cloudless replacement for your gadget vendors' closed source Android applications. 
        </p>
    </div>
</section>
